body { 
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffe6e9; 
    color: #333; 
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ffccd5; 
    color: white;
}

.profile-photo {
    width: 150px;
    height: 150px; 
    object-fit: cover;
    border-radius: 0;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white; 
    color: #333; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #cc2e5d;
    border-bottom: 2px solid #ffe6e9;
    padding-bottom: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ffccd5;
    color: white;
}
