body { 
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffe6e9; /* Warna light pink untuk background */
    color: #333; /* Warna abu-abu gelap untuk teks secara default */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ffccd5; /* Warna light pink yang sedikit lebih gelap untuk header */
    color: white;
}

.profile-photo {
    width: 150px;
    height: 150px; /* Menjaga proporsi kotak */
    object-fit: cover;
    border-radius: 0;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white; /* Warna putih untuk background section */
    color: #333; /* Warna abu-abu gelap untuk teks di dalam section */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #cc2e5d; /* Warna pink lebih gelap untuk judul */
    border-bottom: 2px solid #ffe6e9;
    padding-bottom: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ffccd5; /* Warna light pink untuk footer */
    color: white;
}
